*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.image img{
    height: 355px;
    width: 335px;
    border-radius: 19px;
}
.headers{
    display: flex;
    gap: 50px;
    align-items: center;

}