*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box{
    background-color: #cccccc;
    height: 556px;
    width: 31%;
    margin: auto;
    border-radius: 15px;
}
.image img{
    height: 274px;
    width: 84%;
    border-radius: 19px;
    margin-left: 38px;
    margin-top: 10px;
    object-fit: cover;
    
}
.headers{
    display: flex;
    gap: 50px;
    align-items: center;
    color:#706e6e8c;
    margin-left: 43px;
    margin-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about1{
    border: 2px grey solid;
    border-radius: 9px;
    height: 25px;
    width: 99px;
    text-align: center;
    padding: 2px;
}
#about2{
    border: 2px grey solid;
    border-radius: 9px;
    height: 25px;
    width: 70px;
    text-align: center;
    padding: 2px;
}
h2 {
    margin-top: 15px;
    margin-left: 41px;
}
.para{
    width: 322px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 39px;
}
button{
    background-color: aqua;
    border: none;
    height: 45px;
    width: 49%;
    border-radius: 43px;
    margin-left: 68px;
    margin-top: 31px;
}
button a{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
    background-color: grey;
}
/* Make it Responsivness using Media Query */
@media only screen and (max-width:375px){
    .box{
        width: 98%;
    }
}
